.container_calc {
  display: flex;
  flex-direction: column;
  width: 100%;
  max-width: 1280px;
  margin-inline: auto;
  border-radius: 8px;
  background-color: #fff;
}

/* Sidebar Styles */
.sidebar {
  width: 100%;
  padding: 10px 20px;
  display: flex;
  justify-content: center;
}

.sidebar ul {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  padding: 0;
  margin: 0;
  list-style: none;
}

.sidebar li {
  display: flex;
  align-items: center;
  padding: 10px;
  margin: 5px 0;
  cursor: pointer;
  width: 50%;
  border-radius: 5px;
  transition: background-color 0.3s;
}

.sidebar li img {
  width: 24px;
  height: 24px;
  margin-right: 8px;
}

.sidebar li.active {
  background-color: #e6f4ea;
}



/* Content Styles */
.content {
  flex-grow: 1;
  padding: 20px;
}

.input-group {
  display: grid;
  grid-template-columns: 1fr;
  gap: 15px;
  margin-bottom: 20px;
}

.input-group div {
  flex: 1;
}

.input-group input {
  width: 100%;
  padding: 10px;
  font-size: 14px;
  border: 1px solid #ccc;
  border-radius: 4px;
  outline: none;
  transition: border-color 0.3s;
}

.input-group input:focus {
  border-color: #2e7d32;
}

.radio-group {
  display: grid;
  gap: 10px;
  margin-bottom: 20px;
}

.radio-group input {
  margin-right: 10px;
}

.btn {
  background-color: #2e7d32;
  color: #fff;
  border: none;
  border-radius: 4px;
  padding: 10px 20px;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s;
  display: block;
  margin: 0 auto;
}

.btn:hover {
  background-color: #1d5f21;
}

/* Responsive Design */
@media (min-width: 768px) {
  .container_calc {
    flex-direction: row;
  }

  .sidebar {
    flex-direction: column;
    width: 20%;
    border-bottom: none;
    justify-content: unset;

    ul {
      display: grid;
    }

    li {
      width: unset;
      display: grid;
      text-align: center;

      img {
        width: 60px;
        height: 60px;
        margin: auto;
      }
    }
  }

  .content {
    padding: 40px;
  }

  .input-group {
    grid-template-columns: 1fr 1fr;
  }

  .radio-group {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
  }
}

.content_result {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: center;
}

.title {
  font-size: 24px;
  color: #008000;
  margin-bottom: 20px;
}

.results p {
  text-align: left;
  font-size: 16px;
  margin: 10px 0;
  line-height: 1.6;
}

.results strong {
  font-weight: bold;
}

.progress-container {
  margin-top: 30px;
}

.progress-bar {
  position: relative;
  width: 100%;
  height: 25px;
  background-color: #eaeaea;
  border-radius: 15px;
  overflow: hidden;
  margin-bottom: 40px;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
}

.progress {
  width: 70%;
  /* Ajusta este valor para cambiar el progreso */
  height: 100%;
  background: linear-gradient(to right, #00c853, #ff6d00, #d50000);
  /* Gradiente verde a rojo */
}

.marker {
  position: absolute;
  left: 70%;
  /* Ajusta este valor para la posición del marcador */
  top: -30px;
  transform: translateX(-50%);
  text-align: center;
}

.marker-icon {
  width: 40px;
  height: 40px;
  background: white;
  border: 2px solid #333;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  box-shadow: 0 4px 6px rgba(0, 0, 0, 0.2);
  font-size: 20px;
}

.marker-text {
  font-size: 14px;
  font-weight: bold;
  margin-top: 5px;
  color: #333;
}

.legend {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap; /* Permitir que los elementos se envuelvan en pantallas pequeñas */
  margin-top: 20px;
  padding: 10px;
  background: #f9f9f9;
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
  font-size: 14px;
  color: #555;
  gap: 10px; /* Espaciado entre elementos para pantallas pequeñas */
}

.legend-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: center;
  flex: 1 1 calc(50% - 20px); /* Adaptarse al 50% del ancho menos el espacio del gap */
  padding: 10px;
  border: 1px solid #ddd; /* Añadimos un borde uniforme */
  border-radius: 6px; /* Bordes redondeados */
}

.legend-item:last-child {
  border-right: none;
}

.legend-title {
  font-weight: bold;
  color: #333;
  margin-bottom: 5px;
  font-size: 14px;
}

.legend-value {
  font-size: 12px;
  color: #777;
}

/* Responsivo para pantallas muy pequeñas */
@media (max-width: 600px) {
  .legend {
    flex-direction: column; /* Cambiar a una columna */
    align-items: center;
    gap: 15px; /* Aumentar espacio entre elementos */
  }

  .legend-item {
    flex: 1 1 100%; /* Ocupa todo el ancho en pantallas pequeñas */
  }
}

/* Grupo de checkboxes */
.checkbox-group {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 20px;
  margin-bottom: 30px;
  text-align: left;
}

.checkbox-group label {
  font-size: 14px;
  cursor: pointer;
  display: flex;
  align-items: center;
  gap: 10px;
}

.checkbox-group input {
  cursor: pointer;
}